  <h3>
  <img src="<%= @user.gravatar_url %>">
        <%= @user.full_name %><br />
  </h3>
<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn', id: 'add-friendship', data: { friend_id: @user.to_param } %>


<% if @posts %>
<br />
  <h4><%= @user.first_name %>'s status updates:</h4>
  <% @posts.each do |post| %>
    <div class="well">
      <%= post.Content %>
      <hr />
      <%= link_to time_ago_in_words(post.created_at), post_path(post) %> ago
    </div>
  <% end %>
<% end %>
